<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resumidor de textos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <header>
        <h1>Resume tus textos</h1>
    </header>
    <main>
        <div class="mb-3 row justify-content-center">
            <form method="POST" action="/resumen_texto" >
              <div id="mb-2">
                <label for="idioma" class="form-label">Idioma</label>
                <input type="text" step="0.01" class="form-control" id="idioma" name="idioma">
              </div>
              <div id="mb-2">
                <label for="texto_r" class="form-label">Texto a resumir</label>
                <input type="text" step="0.01" class="form-control" id="texto_r" name="texto_r">
              </div>
              <button type="submit" class="btn btn-primary">Resumir</button>
          </form>
        </div>
        <div class="text-center">
            {% if resumen %}
            <div class="mt-4">
                <h3>Tu resumen:</h3>
                <p class="lead">{{ resumen }}</p>
            </div>
            {% endif %}
        </div>
    </main>
</body>
</html>